<div class="section">
  <div class="container">
    <div class="card">
      <div class="card-block card-block__bg">
        <h2 class="card-block__text">Add a New Make</h2>
      </div>

    <div class="card-block">
        <form class="form" {{action "save" on="submit"}}>
          {{input type="text" placeholder="Make" class="form__input" value=formValues.name}}
          {{input type="text" placeholder="Country" class="form__input" value=formValues.country}}
          {{input type="text" placeholder="Cars" class="form__input" value=formValues.cars}}
          <div class="action-buttons">
            <button class="button is-link">{{#link-to "makes"}}Back{{/link-to}}</button>
            <button type="submit" class="button is-submit">{{#link-to "makes"}}Submit{{/link-to}}</button>
          </div>
      </form>
    </div>
    </div>
  </div>
</div>

{{outlet}}
